:root {
--boggle-background: white;
--boggle-color: black;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  align-items: center;
  background-color: var(--boggle-background);
  color: var(--boggle-color);
}

body, div {
  display: flex;
  flex-direction: column;
}

.new-game {
  font-size: 1.5rem;
  padding: .75rem;
  margin: 1rem auto 1rem auto;
  background-color: var(--boggle-color);
  color: var(--boggle-background);
  border: none;
  box-shadow: 0 .25rem .25rem grey;
}

.timer {
  font-size: 1.5rem;
  padding: .75rem;
  margin: 1rem auto 1rem auto;

}

.letter {
  height: 8rem;
  width: 8rem;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.wordlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 2rem;
}

#wordentry {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  border: thick solid var(--boggle-color);
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.shake {
  animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

@keyframes shake {
  10% {
    transform: translate3d(-3px,0,0);

  }
  20% {
    transform: translate3d(4px,0,0);
  }
  30% {
    transform: translate3d(-6px,0,0);
  }
  40% {
    transform: translate3d(6px,0,0);
  }
  50% {
    transform: translate3d(-6px,0,0);
  }
  60% {
    transform: translate3d(6px,0,0);
  }
  70% {
    transform: translate3d(-6px,0,0);
  }
  80% {
    transform: translate3d(4px,0,0);
  }
  90% {
    transform: translate3d(-3px,0,0);
  }
  100% {
  }
}
